
.btn-primary{
    background-color:#BA2032 !important;
    border-color:#BA2032 !important;
    border-radius: 12px !important;
    width: 250px;
    

}




.form-control{
    border:none; /* Get rid of the browser's styling */
    border-bottom:1px solid black; 
   
}
.card-control{
    border:none; /* Get rid of the browser's styling */
    border-bottom:1px solid black; 
    width: 150px;
    

}



