.container-fluid{

    font-weight: 600;
    
    }
    



.btn-primary.btn-primary:hover, .btn-primary:active, .btn-primary:visited{
    background-color:#BA2032;
    border-color:#BA2032;
    border-radius: 12px;
    width: 200px;
   
    
    

}





    
    .new-releases{
        
        font-weight: 700;
    }
    
   
    
 
    
    
    .card{
        border-radius: 25px;
        border: 1.5px solid #A9A9A9;
        
    }
    
 
    
    
    .btn-primary{
        background-color:#BA2032;
        border-color:#BA2032;
        border-radius: 12px;
        width: 200px;
        
        
    
    }
    
   
